<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Games</title>
    <link rel="stylesheet" href="/css/chessboard-0.3.0.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/js/chessboard-0.3.0.min.js"></script>
    <script src="/js/chess.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.12.4.js" ></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <p>page: <span id="txtPage"></span></p>
    <p>total pages: <span id="txtTotal"></span></p>
    <p>Moves: <span id="moves"></span></p>
    <p>white: <span id="white"></span></p>
    <p>black: <span id="black"></span></p>
    <div id="board" style="width: 400px"></div>
    <input type="button" id="btnPrev" value="previous"/>
    <input type="button" id="startPositionBtn" value="Start Position" />
    <input type="button" id="move1Btn" value="forward" />
    <input type="button" id="move2Btn" value="backword" />
    <input type="button" id="endPositionBtn" value="End Position" />
    <input type="button" id="btnNext" value="next"/>
    <script>
      var movesEl;
      var btnNext = document.getElementById("btnNext");
      $.getJSON('http://localhost:3000/old/all/games', function (json) {

        $('#txtPage').html(json.games.page);
        var pages = json.games.pages;
        $('#txtTotal').html(pages);


        $('#moves').html(json.games.docs[0].moves);
        $('#white').html(json.games.docs[0].player1);
        $('#black').html(json.games.docs[0].player2);
        movesEl = document.getElementById("moves").textContent;
        var moves = movesEl.split("; ");

        $(btnPrev).click(function() {});

        var count = 0;
        var board = ChessBoard('board', 'start');
        var game = new Chess();

        $('#startPositionBtn').on('click', function(){
          board.start();
          count = 0;
        });

        $('#endPositionBtn').on('click', function(){
          for(count =0; count <moves.length; count++){
            board.move(moves[count]);
          }
          count--;

        });

        $('#move1Btn').on('click', function() {
          if(count < moves.length){
            board.move(moves[count]);
            count++;
          }
        });

        $('#move2Btn').on('click', function() {

        if(count > 0){
            count--;
            var substr1 = moves[count].substr(0, 2);
            var substr2 = moves[count].substr(3);
            var backmove = substr2 +"-" +  substr1;
            board.move(backmove);
          }
        });
        var page =document.getElementById("txtPage").textContent;
        if(page == 1){
          $('#btnPrev').prop('disabled', true);
        }
        if(pages == 1){
          $('#btnNext').prop('disabled', true);
        }
        $(btnNext).click(function() {
            page++;
            if(page > 1){
              $('#btnPrev').prop('disabled', false);
            }
            if(page == pages){
              $('#btnNext').prop('disabled', true);
            }
            $.getJSON('http://localhost:3000/old/all/games?page=' + page, function (json) {
              $('#txtPage').html(json.games.page);

              $('#moves').html(json.games.docs[0].moves);
              $('#white').html(json.games.docs[0].player1);
              $('#black').html(json.games.docs[0].player2);
              movesEl = document.getElementById("moves").textContent;
              moves = movesEl.split("; ");
              count = 0;
              board = ChessBoard('board', 'start');
            });
        });

        $(btnPrev).click(function() {
            page--;
            if(page == 1){
              $('#btnPrev').prop('disabled', true);
            }
            if(page < pages){
              $('#btnNext').prop('disabled', false);
            }
            $.getJSON('http://localhost:3000/old/all/games?page=' + page, function (json) {
              $('#txtPage').html(json.games.page);

              $('#moves').html(json.games.docs[0].moves);
              $('#white').html(json.games.docs[0].player1);
              $('#black').html(json.games.docs[0].player2);
              movesEl = document.getElementById("moves").textContent;
              moves = movesEl.split("; ");
              count = 0;
              board = ChessBoard('board', 'start');
            });
        });

      });
    </script>
  </body>
</html>
