<h1>Home page</h1>
<a href="/logout">Logout</a>
<h4>Games:</h4>
<ul>
  <% for(var game of games) {%>

      <li>
        roomno: <%= game.roomno %><br>
        player1: <%= game.player1 %><br>
        player2: <%= game.player2 %>
      </li>

  <%}%>
</ul>
<h4>Online users:</h4>
<ul>
  <% for(var user of users) {%>

      <li>
        <%= user %><br>
      </li>

  <%}%>
</ul>
