<link rel="stylesheet" href="/css/chessboard-0.3.0.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/js/chessboard-0.3.0.min.js"></script>
<script src="/js/chess.js"></script>

<div id = "container">
  <a href="/profile">Profile</a><br/>
  <p id="player1">White: <%= player1%></p>
  <p id="player2">Black: <%= player2%></p>
  <p>Moves: <span id="moves"><%= moves%></span></p>
</div>
<div id="board" style="width: 400px"></div>
<input type="button" id="startPositionBtn" value="Start Position" />
<input type="button" id="move1Btn" value="forward" />
<input type="button" id="move2Btn" value="backword" />

<script type="text/javascript">
  
  var game = new Chess();
  
  const movesEl = $('#moves').text();
  game.load_pgn(movesEl);
  var history = game.history();
  game.reset();
  var moves = movesEl.split("; ");
  var count = 0;
  var board = ChessBoard('board', 'start');

  $('#startPositionBtn').on('click', function(){
    game.reset();
    board.start();
    count = 0;
  });

  $('#move1Btn').on('click', function() {
    count++;
    game.move(history[count]);
    board.position(game.fen());
  });

  $('#move2Btn').on('click', function() {
    if(count > 0){
      count--;
      game.undo();
      board.position(game.fen());
    }
  });
</script>
