<div id = "container">
  <p id="user"><%= name%></p>
  <p id="victories">Victories: <b><%= wins%></b></p>
  <p id="losses">Losses: <b><%= losses%></b></p>
</div>
<a href="/logout">Logout</a><br/>
<a href="/">Home</a>
<a href="/old/games">Last game</a>
