<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<div id = "container">
  <h1 id="instructions" style="display: none;">Please wait</h1>
  <p id="name"><%= name%></p>
  <a href="/">Home</a>
  <input type="button" id="joinBtn" value="Join queue" />
  <h3>Online Users</h3>
  <ul class="list-group" id="users">

  </ul>
</div>


<script type="text/javascript">

  const name = $('#name').text();
  var $users = $('#users');
  $(function(){
      var socket = io.connect();

      socket.emit('join lobby', {name: name});

      socket.on('startGame', function(data){
        $.post("http://localhost:3000/query", function(d) {
            if(d==='done') {
                window.location.href="/game/" + data.player1 + "/" + data.player2 + "/?roomno=" + data.roomno;
            }
        });
      });

      socket.on('get users', function(data){
        var html = '';
        for(i=0; i<data.length; i++){
          if(data[i]!=name){
            html+='<li>'+data[i]+'</li>';
          }
        }
        $users.html(html);
      });

      $('#joinBtn').on('click', function() {
        socket.emit('wait', {name: name});
         $('#instructions').css('display', 'block');
      });

  });

</script>
