<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<div id = "container">
  <h1 id="instructions" style="display: none;">Please wait</h1>
  <p id="name"><%= name%></p>
  <a href="/">Home</a>
  <input type="button" id="joinBtn" value="Join queue" />
  <h3>Online Users</h3>
  <ul class="list-group" id="users">

  </ul>
  <div style="display:none; background-color:black; margin-left:500px; width:300px; height:150px;" id="modal">
    <p style="color:white;"><span id="challenger"></span> is challenging you</p>
    <input type="button" id="accept" value="Accept" />
    <input type="button" id="decline" value="Decline" />
  </div>
</div>


<script type="text/javascript">

  const name = $('#name').text();
  var $users = $('#users');
  var challenger;
  $(function(){
      var socket = io.connect();

      socket.emit('join lobby', {name: name});

      socket.on('startGame', function(data){
        $.post("http://localhost:3000/query", function(d) {
            if(d==='done' && (name == data.player1 || name == data.player2) ) {
                window.location.href="/game/" + data.player1 + "/" + data.player2 + "/?roomno=" + data.roomno;
            }
        });
      });

      socket.on('get users', function(data){
        var html = '';
        for(i=0; i<data.length; i++){
          if(data[i]!=name){
            html+='<li><a onclick="request('+ "'" + data[i] + "'" +')" href="#">'+data[i]+'</a></li>';
          }
        }
        $users.html(html);
      });

      $('#joinBtn').on('click', function() {
        socket.emit('wait', {name: name});
         $('#instructions').css('display', 'block');
      });

      socket.on('responce', function(data){
          if(name == data.opponent) {
            challenger = data.challenger;
            $('#challenger').html(challenger);
            $('#modal').css('display', 'block');
          }
      });

      request = function(opponent){
        socket.emit('request', {opponent: opponent, challenger: name});
      }

      $('#accept').on('click', function() {
        socket.emit('challenge', challenger);
      });

      $('#decline').on('click', function() {
        $('#modal').css('display', 'none');
      });


  });

</script>
