
#status{
  margin-left: 30px;
}

#sbmtPicture{
  margin-left: 30px;
}
body{
  position:relative;
  z-index: 0;
}
#modal{
  display:none;
  background-color:#b2b5ba;
  margin-left:530px;
  width:300px;
  height:150px;
  border: solid;
  border-width: 1px;
  z-index: 1;
  position:absolute;
}

#btns{
  margin-left: 50px;
  margin-top: 40px;
}
